body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media (max-width: 767px) {
  .logo {
    display: none;
  }
}

.sticky-header {
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  
}

